# Importing libraries

In [14]:
import pandas as pd

In [15]:
# importing merged csv file as dataframe
df = pd.read_csv('merged_output.csv')

In [16]:
df.head()

,username,rating,text,date,city,company
0,"{'name': 'THUMMAR PIYUSH', 'link': 'https://ww...",5,It is an opportunity for me to work with the T...,5 years ago,Ahmehdabad,Thomson Reuters
1,"{'name': 'H', 'link': 'https://www.google.com/...",5,Thomson Reuters is one of the BEST companies. ...,3 years ago,Ahmehdabad,Thomson Reuters
2,"{'name': 'Gaurav Sharma', 'link': 'https://www...",5,One of the bigger companies in Ahmedabad. Grea...,2 years ago,Ahmehdabad,Thomson Reuters
3,"{'name': 'Aksha Bagban', 'link': 'https://www....",5,Today i visit the palce. I was very happy to v...,7 years ago,Ahmehdabad,Thomson Reuters
4,"{'name': 'Arya Suthar', 'link': 'https://www.g...",4,Nice place As like corporate office are,a year ago,Ahmehdabad,Thomson Reuters

# data preprocessing

In [17]:
# checking for missing values
df.isnull().sum()

username     0
rating       0
text        42
date         0
city         0
company      0
dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 848 entries, 0 to 847
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   username  848 non-null    object
 1   rating    848 non-null    int64
 2   text      806 non-null    object
 3   date      848 non-null    object
 4   city      848 non-null    object
 5   company   848 non-null    object
dtypes: int64(1), object(5)
memory usage: 39.9+ KB

In [19]:
# dropping null values from text column
df = df.dropna(subset=['text'])
df.isnull().sum()

username    0
rating      0
text        0
date        0
city        0
company     0
dtype: int64

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 806 entries, 0 to 847
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   username  806 non-null    object
 1   rating    806 non-null    int64
 2   text      806 non-null    object
 3   date      806 non-null    object
 4   city      806 non-null    object
 5   company   806 non-null    object
dtypes: int64(1), object(5)
memory usage: 44.1+ KB

In [21]:
# checking unique values

In [22]:

import ast



# Convert 'username' column from string representation of dictionary to actual dictionary
df['username_dict'] = df['username'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

# Extract keys from dictionary and create new columns
keys_to_extract = ['name', 'link', 'contributor_id', 'thumbnail', 'local_guide', 'reviews', 'photos']
for key in keys_to_extract:
    df[key] = df['username_dict'].apply(lambda x: x.get(key) if isinstance(x, dict) else None)
print(df.columns)
# Drop the temporary dictionary column
df = df.drop(columns=['username_dict'])
print(df.columns)

Index(['username', 'rating', 'text', 'date', 'city', 'company',
       'username_dict', 'name', 'link', 'contributor_id', 'thumbnail',
       'local_guide', 'reviews', 'photos'],
      dtype='object')
Index(['username', 'rating', 'text', 'date', 'city', 'company', 'name', 'link',
       'contributor_id', 'thumbnail', 'local_guide', 'reviews', 'photos'],
      dtype='object')

In [23]:
columns_to_drop = ['username', 'name', 'link', 'thumbnail', 'local_guide', 'photos']
df.drop(columns=columns_to_drop, inplace=True)

print(df.columns)

Index(['rating', 'text', 'date', 'city', 'company', 'contributor_id',
       'reviews'],
      dtype='object')

In [24]:
df.head()

,rating,text,date,city,company,contributor_id,reviews
0,5,It is an opportunity for me to work with the T...,5 years ago,Ahmehdabad,Thomson Reuters,104227770972993979682,53
1,5,Thomson Reuters is one of the BEST companies. ...,3 years ago,Ahmehdabad,Thomson Reuters,115343754683535956831,9
2,5,One of the bigger companies in Ahmedabad. Grea...,2 years ago,Ahmehdabad,Thomson Reuters,100356322819129667512,45
3,5,Today i visit the palce. I was very happy to v...,7 years ago,Ahmehdabad,Thomson Reuters,112001217090608621297,1
4,4,Nice place As like corporate office are,a year ago,Ahmehdabad,Thomson Reuters,106889688797229038521,168

In [25]:
df.to_csv('modified_dataset.csv', index=False)